body {
	margin: 0px;
	overflow: hidden;
}
h1 {
	margin-top: 6%;
	font-family: helvetica;
	text-align: center;
}
h1 .logo {
	width:60%;
}
h2 {
	font-family: helvetica;
	text-align: center;
	font-size: 1em;
	margin-top: -3.0em;
	color: #4c4c4c;
}
.content .homepageimagecontainer {
	text-align: center;
}
.content .homepageimagecontainer .homepageimage{
	width: 250px;
	opacity: .8;
}
.overlayimage {
	width: 100%;
	height: 110%;
	/*z-index: 1;*/
	position: absolute;
	margin-top: -11%;
	opacity:.7;
}
div .homepagebuttoncontainer {
	text-align: center;
}
div .homepagebutton {
	width: 10em;
	height: 2em;
	border-radius: 25px;
	border:none;
	background-color: #4c4c4c;
	color: white;
	opacity:.8;
}
div .logininput {
	width: 40em;
	height: 2.2em;
	border:none;
	background-color: white;
	color: #4c4c4c;
	margin: .2em;
	padding: .5em;
}
div .homepagebutton:hover {
	opacity: 1;
}
div .homepagebutton a{
	text-decoration: none;
	color: white;
}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
}

footer p {
	font-family: arial;
	font-size: .7em;
	text-align: center;
	opacity: .2;
}

#accordion {
	width: 50%;
	margin: auto;
	margin-top: 3.5%;
}
.ui-accordion-header-active {
	background-color: #4c4c4c;
}
.ui-state-active {
	background-color: #4c4c4c;
	border: 1px solid white;
}
.hiddenbutreadable {
	position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.ui-widget-content {
	background-color: #4c4c4c;
	color: white;
	border: 1px solid white;
	opacity: .8
}
.ui-widget-content a {
	text-decoration: none;
	color: white;
	opacity:.8;
}
.ui-widget-content a:hover {
	opacity: 1;
}
ul li {
	list-style: none;
}
